name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - name: Set Up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: corretto
          java-version: 17
      - name: Run Plugin Build
        run: ./gradlew :plugin:build
      - name: Run Samples Check
        run: ./gradlew metalavaCheckCompatibility metalavaCheckCompatibilityDebug
      - name: Copy Test Results
        if: always()
        run: |
          mkdir -p junit
          find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} junit/ \;
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: junit-results
          path: junit
