name: Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-[a-zA-Z]+[0-9]*'

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - name: Set Up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: corretto
          java-version: 17
      - name: Run Plugin Build
        run: ./gradlew :plugin:build
      - name: Run Samples Check
        run: ./gradlew metalavaCheckCompatibility metalavaCheckCompatibilityDebug
      - name: Publish Plugin
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
        run: ./gradlew :plugin:publishPlugins
